.app-container{
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
footer{
  flex-shrink: 0;
  background: #7d8282;
  padding: 20px;
  color: #fff;
  p{
    margin: 0;
  }
}
header{
  flex-shrink: 0;
}
main{
  flex-grow: 1;
  padding: 20px 0;
  position: relative;
}
.spinner-absolute-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
}
.item-film-card{
  padding: 0 7.5px;
  margin-bottom: 15px;
  .item-film-card__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    height: 100%;
  }
  .item-field-card__image{
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }
  .item-field-card__body{
    flex: 1 1 auto;
    padding: 1.25rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    .body__title{
      margin-bottom: 0.75rem;
      font-size: 1.25rem;
    }
  }
  .item-field-card__btn{
    background: rgb(221, 221, 221);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    color: #515151;
  }
}
.sidebar-films{
  .sidebar-films__title{
    text-decoration: underline;
  }
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    li a{
      color: #000;
      &.active{
        color: #005cbf;
      }
    }
  }
}