.app-container{
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
footer{
  flex-shrink: 0;
  background: #7d8282;
  padding: 20px;
  color: #fff;
  p{
    margin: 0;
  }
}
header{
  flex-shrink: 0;
}
main{
  flex-grow: 1;
  padding: 20px 0;
  position: relative;
}
.spinner-absolute-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
}
.item-field-card{
  min-height: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  .item-field-card__image{
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }
  .item-field-card__body{
    flex: 1 1 auto;
    padding: 1.25rem;
    .body__title{
      margin-bottom: 0.75rem;
      font-size: 1.25rem;
    }
  }
}